## Assignment of Applied Datascience Capstone ##

*The following is required*

 ### Unordered list ##
- Notebook
- Github installation

### Ordered list ###

1.Notebook

2.Python

---

[IBM Data Science Professional Certificate](https://www.coursera.org/professional-certificates/ibm-data-science?utm_source=gg&utm_medium=sem&campaignid=2087860785&utm_content=10-IBM-Data-Science-ROW&adgroupid=79675709431&device=c&keyword=ibm%20data%20science%20professional%20certificate%20coursera&matchtype=b&network=g&devicemodel=&adpostion=&creativeid=375774778792&hide_mobile_promo&gclid=EAIaIQobChMIkYaGtKOn7AIVVO3tCh2guANcEAAYASAAEgLcc_D_BwE)

In [54]:
import pandas as pd
from IPython.display import display
df = pd.read_csv(r'C:\Users\portiama\Desktop\file\countries.csv')
df.head()

       country  year  population
0  Afghanistan  1952     8425333
1  Afghanistan  1957     9240934
2  Afghanistan  1962    10267083
3  Afghanistan  1967    11537966
4  Afghanistan  1972    13079460

In [55]:
import numpy as np
X= np.asarray(df[['year','population']])
X[0:5]

array([[    1952,  8425333],
       [    1957,  9240934],
       [    1962, 10267083],
       [    1967, 11537966],
       [    1972, 13079460]], dtype=int64)

### Print function in Python ###

In [16]:
print ("Hello Capston Project")

Hello Capston Project